<!DOCTYPE html>
<html>
<head>
  <title>Adventure Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
  
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <a class="navbar-brand mx-auto text-uppercase fs-3" href="#">My Places</a>
        <ul class="navbar-nav ms-auto">
          <% if @current_user== nil  %>
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
           <% else %>
              <li class="nav-item">
              <span class="navbar-text me-3">Logged in as: <%= @current_user["username"] %></span>
             </li>
              <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <% if flash["notice"] %>
      <div class="alert alert-success" role="alert">
        <%= flash["notice"] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>